html {
  background-color: #ebebeb;
	font-family: 'Noto Sans KR';
  font-weight: 400;
  font-size: 1px;
  @media (min-width: 720px) {
    font-size: 1.2px;
  }
}

body {
  max-width: $mobile;
  margin-left: auto;
  margin-right: auto;
  background-color: #fff;
  font-size: 16rem;
}

.container {
  padding-left: $container;
  padding-right: $container;
}

.layout {
  padding: 90rem 0 102.5rem;
  min-height: 100vh;

  // main
  &--main {
    position: relative;
    &:before {
      content: '';
      position: absolute;
      left: 0;
      top: 0;
      width: 100%;
      height: 230rem;
      background-image: linear-gradient(135deg, #77e0ff, #95fd8f);
      border-radius: 0 0 25rem 25rem;
    }
  }

  // none
  &--none {
    display: flex;
    align-items: center;
    justify-content: center;
  }
}

.dim {
  position: fixed;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0,0,0,0.3);
  z-index: 110;
}