.header {
  height: 65rem;
  &__inner {
    display: flex;
    align-items: center;
    padding: 10rem 0;
  }
  &__logo, 
  &__back {
    padding-left: $container;
    margin-right: 5rem;
    box-sizing: content-box;
  }
  &__logo {
    width: 50.23rem;
    height: 45rem;
  }
  &__back {
    width: 30rem;
    padding-top: 7rem;
    padding-bottom: 8rem;
  }

  // main {
  &--main {
    .header {
      &__back {
        display: none;
      }
    }
  }

  // back {
  &--back {
    .header {
      &__logo {
        display: none;
      }
    }
  }
}